html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Nunito','NunitoSans','Helvetica Neue','Helvetica','Arial','sans-serif';
    line-height: 1.42857143;
    color: #333;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.check-control {
    padding: 5px 10px;
    min-height: 34px;
    border: 1px solid #f7f7f7;
    border-radius: 6px;
    background-color: #f7f7f7;
    vertical-align: middle;
    font-size: 16px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

.contendorJugadoresResultados {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-between;
}

.imagenOpcion {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    margin-bottom: 20px;
    min-height: 180px;
}

    .imagenOpcion img {
        width: 100%;
    }

.contenedorOpcion {
    min-height: 272px;
}

    .contenedorOpcion:hover {
        cursor: pointer;
        background-color: #FAFAFA;
    }

.contendorJugadoresTurno {
    margin-bottom: 100px;
}

#iniciarPartidaBtn {
    margin: auto;
    width: 90%;
    border-radius: 25px;
    padding: 15px;
    background-color: #398BF7;
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
}

.textBlue h2 {
    color: #0B57D0;
}

.textGreen h2 {
    color: #5BB4E5;
}


@media screen and (max-width: 768px) {
    .imagenOpcion {
        margin-bottom: 30px;
    }

    .cardOpciones {
        margin-bottom: 15px;
    }

    .textTurnoJugador {
        margin-bottom: 20px;
        margin-top: 30px;
    }
}
